h1 {
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  background-color: #FEF9E7;
  padding: 0px;
  margin: 0px;
}

.navbar a {
  text-decoration: none;
  color:black
}










.picture,
.picture2 {
  width: 180px;
  height: 250px;
  border: 2px solid black;
  border-radius: 20%;
  margin-right: 100px;

  animation-name: bounceLeftRight;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate; /* reverse every other cycle */
  animation-timing-function: ease-in-out;
}

.picture2 {
  width: 240px;
}

@keyframes bounceLeftRight {
  from { transform: translateX(0); }
  to { transform: translateX(200px); }
}
