body {
  background-color: #FEF9E7;
  margin: 0px;
}

main {
  margin-left: 20px;
  margin-right: 20px;
 
}

h1 {
  text-align: center;
}


/* NAVBAR */
.navbar ul {
  list-style-type: none;
  background-color: #d98880;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;   /* centers the <li> children */
  position: sticky;
}

.navbar li {
  margin: 0;                 /* optional: reset default spacing */
}

.navbar a {
  text-decoration: none;
  color: black;
  padding: 15px 20px;        /* extra horizontal padding looks nicer */
  display: block;
  text-align: center;
  margin-right: 50px;
  font-size: 20px;
}

.navbar a:hover {
  background-color: #FEF9E7;
  transform: scale(1.3);
}

.picture,
.picture2 {
  width: 180px;
  height: 250px;
  border: 2px solid black;
  border-radius: 20%;
  margin-right: 100px;

  animation-name: bounceLeftRight;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate; /* reverse every other cycle */
  animation-timing-function: ease-in-out;
}

.picture2 {
  width: 240px;
}

.contact {
  background-color: #d98880;
  color:white;
}

@keyframes bounceLeftRight {
  from { transform: translateX(0); }
  to { transform: translateX(200px); }
}
